*{
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#nav-link {
  font-size: 0.8rem;
  margin-right: 2rem;
  font-weight: bolder;
  position: relative;
  font-family: "Padauk", sans-serif;
}

#nav-link::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 0.01rem;
  background-color: black;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
  transform-origin: 0% 100%;
}

#nav-link:hover::after {
  transform: scale(1, 1);
}

#nav-link:nth-child(2):after {
  width: 2.8rem;
}

#nav-link:nth-child(3):after {
  width: 3.8rem;
}

.menu {
  margin-right: 1.3rem;
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.menu_btn {
  width: 1.2rem;
  height: 0.06rem;
  background: black;
  transition: all 0.5s ease-in-out;
}

.menu_btn::before,
.menu_btn::after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 0.06rem;
  background: black;
  transition: all 0.5s ease-in-out;
}

.menu_btn::before {
  transform: translateY(-0.4rem);
}

.menu_btn::after {
  transform: translateY(0.4rem);
}

.menu.open .menu_btn {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu.open .menu_btn::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu.open .menu_btn::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.actualMenu {
  animation-name: fadeIn;
  animation-duration: 0.7s;
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

#sliding_text {
  transition: all 1s;
  animation: slideInFromTop 1s ease;
  animation-fill-mode: both;
}

#sliding_text:nth-child(2) {
  animation-delay: calc(0.5s * var(--index));
}

#sliding_text:nth-child(3) {
  animation-delay: calc(0.5s * var(--index));
}

#image {
  overflow: hidden;
  transition: all 1s;
}

#img_container {
  transition: all 0.5s;
}

.cursor {
  display: none;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 0.8rem;
  border: 1px solid black;
  width: 6rem;
  height: 6rem;
  background-color: transparent;
  border-radius: 50%;
  z-index: 22222;
  position: absolute;
}

.cursor_div:hover .cursor {
  display: flex;
}

@media (max-width: 1023px) {
  .cursor_div:hover .cursor {
    display: none;
  }
}
